apiVersion: apps/v1
kind: Deployment
metadata:
  name: markdown-api
  labels:
    app: markdown-api
spec:
  selector:
    matchLabels:
      app: markdown-api
  template:
    metadata:
      labels:
        app: markdown-api
    spec:
      containers:
        - name: markdown-api
          image: ghcr.io/zooniverse/markdown-api:__IMAGE_TAG__
          env:
          - name: NODE_ENV
            value: "production"
          resources:
            requests:
              memory: "300Mi"
              cpu: "100m"
            limits:
              memory: "500Mi"
              cpu: "1000m"
          livenessProbe:
            httpGet:
              path: /
              port: 2998
          readinessProbe:
            httpGet:
              path: /
              port: 2998
            initialDelaySeconds: 20
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: markdown-api
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: markdown-api
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
---
apiVersion: v1
kind: Service
metadata:
  name: markdown-api
spec:
  selector:
    app: markdown-api
  ports:
    - protocol: TCP
      port: 2998
      targetPort: 2998
  type: NodePort
